body {
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

hr {
    border-top: 1px solid #0077c8;
    width: 50%;
}

.blueButton {
    background-color:#0077c8;
    border: 2px solid #0077c8;
    color: white;
    font-size: 1.5rem;
    padding: 15px;
    transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

.blueButton:hover {
    background-color: white;
    color:#0077c8;
}
.centerwrap {
    display: grid;
    justify-content: center;
}

.orange__title {
    font-size: 1.5rem;
    color: #EA8B2D;
    text-transform: uppercase;
}

/*--------------------------------------------------------------*/
/* MENU --------------------------------------------------------*/
/*--------------------------------------------------------------*/

header {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 0.2);
}
.menu__list li {
    list-style-type: none;
    margin-top: 20px;
}

.menu__item a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
}

.menu__item--active {
    text-decoration: wavy;
    color: #0077c8;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}

/* LANGUAGE MENU -------------------------------------- */
.menu__language {
    text-align: right;
    margin-bottom: 8px;
    margin-right: 20px;
    margin-top: -20px;
}

.menu__language li {
    display: inline;
}

.mobile__menu {
    color: #0077c8;
}

.mobile__menu .fa-bars {
    font-size: 2.5rem;
    margin-left: 10px;
    margin-top: 7px;
}

.burgermenu__container {
    margin-left: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #0077c8;
    margin: 6px 0;
    transition: 0.4s;
}

/* BURGER MENU ANIMATION -------------------------------------- */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .menu__wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin:auto;
  }

/* MENU SLIDER -------------------------------------- */

.menu__main {
    background-color: #0077c8;
    margin-top: 5px;
    position:absolute;
    width: 100%;
    -webkit-animation-name: slideOut;
  animation-name: slideOut;
  position: fixed;
  top: 108;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 0.2);
}

.menu__main--hidden {
    max-height: 0px;
    overflow: hidden;
}

.menu__main--show {
    max-height: 100%;
    overflow:auto;
    -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(0rem);
      -webkit-opacity: 0;
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    100% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    0% {
      transform: translateY(0rem);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slideOut {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 1;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 0;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 1;
    }
  }


.menu__main {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }

.menu__main a {
    color: white;
}


/*--------------------------------------------------------------*/
/* MAIN --------------------------------------------------------*/
/*--------------------------------------------------------------*/


main {
    margin-top: 100px;
}

.container {
    padding: 20px;
}

.container img {
    width: 100%;
}

.container--grey {
    background-color: #efefef;
}

.intro__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom:40px;
}

.intro__wrapperInner {
    text-align: center;
}

.intro__icon {
    max-width: 100px;
}

/* NPI consultent */

.npiconsult__wrapper img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.npiconsult__wrapper a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #0077c8;
    margin-top: 10px;
}

/* About */


.about__img--tech{
    display: block;
    max-width: 500px;
    
}

/* .menu__item a:hover {
    color: #0077c8;
} */